# Git repo attributes.

# Ensure shell and configure-related files have LF enforced.
*.ac text eol=lf
*.am text eol=lf
*.m4 text eol=lf
*.sh text eol=lf

# Ensure all text files have normalized line endings in the repository.
* text=auto

# The following file should use CR/LF line endings.
/digimars.mak text eol=crlf

# Note: "core.eol" configuration variable controls which line endings to use
# for the normalized files in the working directory (the default is native).
