dist: xenial
language: cpp
os: linux

jobs:
  include:
  - compiler: clang
    env:
    - CONF_OPTIONS="--enable-cplusplus"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: gcc
    env:
    - CONF_OPTIONS="--enable-cplusplus"
  - os: osx
    env:
    - CONF_OPTIONS="--enable-cplusplus"
    - NO_CLONE_LIBATOMIC_OPS=true
  - env:
    - MAKEFILE_TARGETS="dist"
  - compiler: gcc
    env:
    - CONF_OPTIONS="--enable-gc-assertions --enable-cplusplus --enable-static"
    - NO_CLONE_LIBATOMIC_OPS=true
  - addons:
      apt:
        packages:
        - gcc-multilib
    compiler: clang
    env:
    - CFLAGS_EXTRA="-m32"
    - CONF_OPTIONS="--enable-gc-assertions"
    - NO_CLONE_LIBATOMIC_OPS=true
  - addons:
      apt:
        packages:
        - gcc-multilib
    compiler: gcc
    env:
    - CFLAGS_EXTRA="-m32"
    - CONF_OPTIONS="--enable-gc-assertions --enable-mmap"
  - os: osx
    env:
    - CFLAGS_EXTRA="-m32"
    - CONF_OPTIONS="--enable-gc-assertions --enable-cplusplus"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: gcc
    env:
    - CONF_OPTIONS="--disable-threads --enable-checksums --disable-munmap --enable-cplusplus"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-D DBG_HDRS_ALL -D SHORT_DBG_HDRS"
    - CONF_OPTIONS="--enable-gc-assertions --enable-cplusplus"
    - NO_CLONE_LIBATOMIC_OPS=true
  - os: osx
    env:
    - CFLAGS_EXTRA="-D DBG_HDRS_ALL -D SHORT_DBG_HDRS -D LINT2"
    - CONF_OPTIONS="--enable-gc-assertions --enable-cplusplus --enable-handle-fork=manual"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-D DEBUG_ADD_DEL_ROOTS -D DEBUG_THREADS -D GC_DEBUG -D GC_LOG_TO_FILE_ALWAYS"
    - CONF_OPTIONS="--enable-cplusplus"
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-D BSD_TIME -D DEFAULT_STACK_MAYBE_SMALL -D ENABLE_TRACE -D EMPTY_GETENV_RESULTS -D GC_ALWAYS_MULTITHREADED -D GC_NETBSD_THREADS_WORKAROUND -D CPPCHECK"
    - CONF_OPTIONS="--enable-cplusplus"
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-march=native -D _FORTIFY_SOURCE=2 -D DEFAULT_VDB -D TEST_WITH_SYSTEM_MALLOC"
    - CONF_OPTIONS="--with-libatomic-ops=no --enable-cplusplus --disable-handle-fork"
  - addons:
      apt:
        packages:
        - libatomic-ops-dev
    compiler: gcc
    env:
    - CONF_OPTIONS="--with-libatomic-ops=yes --enable-gc-assertions --enable-cplusplus"
    - NO_CLONE_LIBATOMIC_OPS=true
  - os: osx
    env:
    - CFLAGS_EXTRA="-march=native -D _FORTIFY_SOURCE=2 -D AO_DISABLE_GCC_ATOMICS"
    - CONF_OPTIONS="--with-libatomic-ops=no --enable-munmap --enable-cplusplus --enable-static"
  - compiler: gcc
    env:
    - CONF_CFLAGS="-D AO_USE_PTHREAD_DEFS"
    - CONF_OPTIONS="--with-libatomic-ops=no --enable-gc-assertions --enable-cplusplus --enable-static"
  - addons:
      apt:
        packages:
        - libatomic-ops-dev
    compiler: clang
    env:
    - CONF_CFLAGS="-D AO_USE_PTHREAD_DEFS"
    - CONF_OPTIONS="--with-libatomic-ops=yes --enable-gc-assertions --enable-cplusplus --enable-static"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-D DONT_ADD_BYTE_AT_END"
    - CONF_OPTIONS="--enable-gc-assertions --enable-cplusplus"
  - addons:
      apt:
        packages:
        - gcc-multilib
    compiler: gcc
    env:
    - CFLAGS_EXTRA="-m32 -D MARK_BIT_PER_OBJ -D USE_CUSTOM_SPECIFIC"
    - CONF_OPTIONS="--enable-gc-assertions"
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-D MARK_BIT_PER_OBJ"
    - CONF_OPTIONS="--enable-cplusplus"
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-D NO_CLOCK -D POINTER_MASK=~0xf"
    - CONF_OPTIONS="--enable-gc-assertions --enable-cplusplus --enable-handle-fork=manual"
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-D PROC_VDB -D GC_NO_SYS_FAULT_H -D NO_INCREMENTAL -D DEBUG_DIRTY_BITS"
    - CONF_OPTIONS="--enable-cplusplus --disable-docs"
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-D TEST_MANUAL_VDB"
    - CONF_OPTIONS="--enable-gc-assertions --disable-parallel-mark"
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-D TEST_MANUAL_VDB"
    - CONF_OPTIONS="--enable-gc-assertions --disable-munmap"
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-D FIND_LEAK -D SKIP_LEAKED_OBJECTS_PRINTING"
    - CONF_OPTIONS="--enable-gc-assertions --enable-cplusplus"
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-D SMALL_CONFIG -D NO_GETENV"
    - CONF_OPTIONS="--enable-cplusplus"
  - compiler: gcc
    env:
    - CFLAGS_EXTRA="-std=c11 -D GC_NO_SIGSETJMP"
    - CONF_OPTIONS="--disable-threads --enable-gc-assertions"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: clang
    env:
    - CONF_OPTIONS="--disable-thread-local-alloc --enable-cplusplus --enable-static"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: gcc
    env:
    - CONF_OPTIONS="--disable-parallel-mark --disable-thread-local-alloc --enable-gc-assertions --enable-cplusplus"
  - addons:
      apt:
        packages:
        - lcov
    compiler: gcc
    env:
    - CONF_OPTIONS="--enable-gcov --enable-single-obj-compilation --enable-cplusplus --disable-shared --enable-gc-assertions"
    - CFLAGS_EXTRA="-D USE_CUSTOM_SPECIFIC"
    - REPORT_COVERAGE=true
  - compiler: gcc
    env:
    - CONF_OPTIONS="--enable-gc-debug --enable-cplusplus"
  - compiler: gcc
    env:
    - CONF_OPTIONS="--disable-gc-debug --enable-cplusplus"
  - compiler: clang
    env:
    - CONF_OPTIONS="--enable-large-config --enable-cplusplus --disable-shared --enable-static"
    - NO_CLONE_LIBATOMIC_OPS=true
  - os: osx
    env:
    - CONF_OPTIONS="--enable-large-config --enable-cplusplus --disable-handle-fork"
    - NO_CLONE_LIBATOMIC_OPS=true
  - addons:
      apt:
        packages:
        - gcc-multilib
    compiler: gcc
    env:
    - CONF_OPTIONS="--enable-large-config --disable-munmap"
    - CFLAGS_EXTRA="-m32"
  - compiler: gcc
    env:
    - CONF_OPTIONS="--enable-large-config --enable-cplusplus --enable-gc-assertions --enable-static"
    - CFLAGS_EXTRA="-D LINT2"
  - addons:
      apt:
        packages:
        - gcc-multilib
    compiler: clang
    env:
    - CONF_OPTIONS="--enable-redirect-malloc --enable-static --disable-threads"
    - CFLAGS_EXTRA="-m32"
    - NO_CLONE_LIBATOMIC_OPS=true
  - os: osx
    env:
    - CONF_OPTIONS="--enable-redirect-malloc --enable-cplusplus --enable-static --disable-threads"
    - CFLAGS_EXTRA="-m32"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: gcc
    env:
    - CONF_OPTIONS="--enable-redirect-malloc --enable-gc-debug --enable-cplusplus --enable-gc-assertions"
  - compiler: clang
    env:
    - CONF_OPTIONS="--disable-threads --enable-cplusplus"
    - CFLAGS_EXTRA="-O3 -march=native"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: gcc
    env:
    - CONF_OPTIONS="--disable-static --disable-threads --enable-cplusplus"
    - CFLAGS_EXTRA="-O3 -march=native"
    - NO_CLONE_LIBATOMIC_OPS=true
  - os: osx
    env:
    - CONF_OPTIONS="--disable-threads --enable-cplusplus"
    - CFLAGS_EXTRA="-O3 -march=native"
    - NO_CLONE_LIBATOMIC_OPS=true
  - os: osx
    env:
    - CSA_CHECK=true
    - CFLAGS_EXTRA="-m32"
  - compiler: clang
    language: c
    env:
    - CSA_CHECK=true
    - CFLAGS_EXTRA="-D ALL_INTERIOR_POINTERS -D CHECKSUMS -D DBG_HDRS_ALL -D DEBUG_THREADS -D ENABLE_TRACE -D GC_ALWAYS_MULTITHREADED -D GC_ASSERTIONS -D GC_ATOMIC_UNCOLLECTABLE -D GC_ENABLE_SUSPEND_THREAD -D GC_GCJ_SUPPORT -D GC_PRINT_BACK_HEIGHT -D GC_THREADS -D HANDLE_FORK -D JAVA_FINALIZATION -D KEEP_BACK_PTRS -D MAKE_BACK_GRAPH -D PARALLEL_MARK -D PRINT_BLACK_LIST -D THREAD_LOCAL_ALLOC -D USE_MMAP -D USE_MUNMAP"
  - compiler: clang
    env:
    - MAKEFILE_NAME=Makefile.direct
    - MAKEFILE_TARGETS="check check-cpp cord/de"
  - compiler: gcc
    env:
    - MAKEFILE_NAME=Makefile.direct
    - MAKEFILE_TARGETS="check check-cpp cord/de"
  - os: osx
    env:
    - MAKEFILE_NAME=Makefile.direct
    - MAKEFILE_TARGETS="check check-cpp cord/de"
  - addons:
      apt:
        packages:
        - musl-tools
    compiler: musl-gcc
    language: c
    env:
    - CONF_OPTIONS="--disable-parallel-mark --enable-gc-assertions"
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-fsanitize=address -fno-common -fno-omit-frame-pointer"
    - CONF_OPTIONS="--enable-cplusplus --enable-static"
    - NO_CLONE_LIBATOMIC_OPS=true
    - TESTS_CUSTOM_RUN=true
  - addons:
      apt:
        packages:
        - gcc-5
        sources:
        - ubuntu-toolchain-r-test
    compiler: gcc-5
    language: c
    env:
    - CFLAGS_EXTRA="-fsanitize=address -O0"
    - CONF_OPTIONS="--enable-gc-assertions"
    - LDFLAGS="-fuse-ld=gold"
  - os: osx
    env:
    - CFLAGS_EXTRA="-fsanitize=address -m32 -fno-omit-frame-pointer"
    - CONF_OPTIONS="--disable-shared --enable-cplusplus"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: clang
    language: c
    env:
    - CFLAGS_EXTRA="-fsanitize=memory -fno-omit-frame-pointer -std=gnu11"
    - CONF_OPTIONS="--enable-static"
    - TESTS_CUSTOM_RUN=true
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-fsanitize=undefined -fno-common -fno-omit-frame-pointer"
    - TESTS_CUSTOM_RUN=true
    - CONF_OPTIONS="--enable-cplusplus --enable-static"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-O3 -march=native"
    - CONF_OPTIONS="--enable-cplusplus --enable-static --enable-single-obj-compilation"
    - NO_CLONE_LIBATOMIC_OPS=true
  - addons:
      apt:
        packages:
        - gcc-multilib
    compiler: clang
    env:
    - CFLAGS_EXTRA="-m32 -D _FORTIFY_SOURCE=2 -D GC_DISABLE_INCREMENTAL -std=gnu11"
    - CONF_OPTIONS="--enable-gc-assertions --enable-gc-debug"
    - NO_CLONE_LIBATOMIC_OPS=true
  - addons:
      apt:
        packages:
        - gcc-8
        - g++-8
        sources:
        - ubuntu-toolchain-r-test
    compiler: gcc-8
    language: c
    env:
    - CXX=g++-8
    - CONF_OPTIONS="--enable-cplusplus --enable-gc-assertions --enable-static"
    - NO_CLONE_LIBATOMIC_OPS=true
  - addons:
      apt:
        packages:
        - gcc-8
        - gcc-8-multilib
        - gcc-multilib
        sources:
        - ubuntu-toolchain-r-test
    compiler: gcc-8
    language: c
    env:
    - CFLAGS_EXTRA="-m32 -O3 -std=gnu11"
    - CONF_OPTIONS="--disable-shared --enable-static --enable-single-obj-compilation"
    - NO_CLONE_LIBATOMIC_OPS=true
  - addons:
      apt:
        packages:
        - gcc-8
        - gcc-8-multilib
        - gcc-multilib
        sources:
        - ubuntu-toolchain-r-test
    compiler: gcc-8
    language: c
    env:
    - CFLAGS_EXTRA="-mx32 -march=native -D _FORTIFY_SOURCE=2"
    - CONF_OPTIONS="--enable-large-config --enable-gc-assertions"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-x c++"
    - CONF_OPTIONS="--enable-gc-assertions --enable-cplusplus --enable-gc-debug --disable-shared"
    - MAKEFILE_TARGETS="all"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: gcc
    env:
    - CC_FOR_CHECK=g++
    - CONF_OPTIONS="--enable-gc-assertions"
    - MAKEFILE_TARGETS="all"
    - MAKEFILE_TARGETS_CHECK="check"
    - NO_CLONE_LIBATOMIC_OPS=true
  - compiler: clang
    env:
    - CFLAGS_EXTRA="-O3 -Wall -Wextra -Werror -x c++"
    - MAKEFILE_NAME=Makefile.direct
    - MAKEFILE_TARGETS="cords"
  - compiler: gcc
    env:
    - CC_FOR_CHECK=g++
    - CFLAGS_EXTRA="-O3 -Wall -Wextra -Werror -D TEST_MANUAL_VDB"
    - MAKEFILE_NAME=Makefile.direct
    - MAKEFILE_TARGETS="cords"
    - MAKEFILE_TARGETS_CHECK="cord/de check"
  - addons:
      apt:
        packages:
        - g++-mingw-w64
        - gcc-mingw-w64
    compiler: x86_64-w64-mingw32-gcc
    language: c
    env:
    - CXX=x86_64-w64-mingw32-g++
    - CONF_OPTIONS="--host=x86_64-w64-mingw32 --enable-cplusplus --enable-static"
    - MAKEFILE_TARGETS="all"
  - addons:
      apt:
        packages:
        - gcc-mingw-w64
    compiler: i686-w64-mingw32-gcc
    language: c
    env:
    - CONF_OPTIONS="--host=i686-w64-mingw32"
    - MAKEFILE_TARGETS="all"
    - CFLAGS_EXTRA="-fno-omit-frame-pointer"
  - env:
    - MAKEFILE_TARGETS="distcheck"
    - AUTOMAKE_VER=1.15
    - M4_VER=1.4.18
    - LIBTOOL_VER=2.4.6
    - NO_CLONE_LIBATOMIC_OPS=true

before_install:
- if [[ "$AUTOMAKE_VER" != "" || "$LIBTOOL_VER" != ""
        || "$M4_VER" != "" ]]; then
    GNUTOOLS_ROOT=`pwd`/../gnu-tools;
    export PATH=$GNUTOOLS_ROOT/bin:$PATH;
    GNU_DOWNLOAD_SITE=https://ftp.gnu.org/gnu;
  fi
- if [[ "$M4_VER" != "" ]]; then
    M4_XZ_URL=$GNU_DOWNLOAD_SITE/m4/m4-$M4_VER.tar.xz;
    wget --no-check-certificate -O - $M4_XZ_URL | tar xf - --xz --directory ~;
    (cd ~/m4-$M4_VER && ./configure --prefix=$GNUTOOLS_ROOT && make -j check && make install);
  fi
- if [[ "$LIBTOOL_VER" != "" ]]; then
    LIBTOOL_XZ_URL=$GNU_DOWNLOAD_SITE/libtool/libtool-$LIBTOOL_VER.tar.xz;
    wget --no-check-certificate -O - $LIBTOOL_XZ_URL | tar xf - --xz --directory ~;
    (cd ~/libtool-$LIBTOOL_VER && ./configure --prefix=$GNUTOOLS_ROOT && make -j && make install);
  fi
- if [[ "$AUTOMAKE_VER" != "" ]]; then
    AUTOMAKE_XZ_URL=$GNU_DOWNLOAD_SITE/automake/automake-$AUTOMAKE_VER.tar.xz;
    wget --no-check-certificate -O - $AUTOMAKE_XZ_URL | tar xf - --xz --directory ~;
    (cd ~/automake-$AUTOMAKE_VER && ./configure --prefix=$GNUTOOLS_ROOT && make -j && make install);
  fi
- if [[ "$MAKEFILE_TARGETS" == *"dist"* ]]; then
    autoconf --version;
    automake --version;
    m4 --version;
    libtool --version || true;
  fi
- if [[ "$CONF_CFLAGS" == "" ]]; then CONF_CFLAGS="-g -O2"; fi
- if [[ "$MAKEFILE_NAME" == "" ]]; then MAKEFILE_NAME=Makefile; fi
- if [[ "$MAKEFILE_TARGETS" == "" ]]; then MAKEFILE_TARGETS="check"; fi

install:
- if [[ "$NO_CLONE_LIBATOMIC_OPS" != true ]]; then
    git clone --depth=50 https://github.com/ivmai/libatomic_ops.git
            -b release-7_6;
  fi
- "./autogen.sh"
- if [[ "$GNUTOOLS_ROOT" != "" ]]; then mv $GNUTOOLS_ROOT $GNUTOOLS_ROOT-x; fi
- if [[ "$REPORT_COVERAGE" == true ]]; then gem install coveralls-lcov; fi

script:
- if [[ "$CSA_CHECK" != true
        && "$MAKEFILE_NAME" != "Makefile.direct"
        && "$COVERITY_SCAN_BRANCH" != 1 ]]; then
    CFLAGS="$CONF_CFLAGS" ./configure $CONF_OPTIONS --enable-werror &&
    cat include/config.h;
  fi
- if [[ "$CSA_CHECK" != true
        && "$COVERITY_SCAN_BRANCH" != 1 ]]; then
    make -j -f $MAKEFILE_NAME $MAKEFILE_TARGETS CFLAGS_EXTRA="$CFLAGS_EXTRA"
            LDFLAGS="$LDFLAGS";
  fi
- if [[ "$CC_FOR_CHECK" != "" ]]; then
    make -f $MAKEFILE_NAME $MAKEFILE_TARGETS_CHECK CC=$CC_FOR_CHECK
            CFLAGS_EXTRA="$CFLAGS_EXTRA";
  fi
- if [ -f gctest.log ]; then cat gctest.log; fi
- if [ -f disclaim_bench.log ]; then cat disclaim_bench.log; fi
- if [ -f threadkey_test.log ]; then cat threadkey_test.log; fi
- if [[ "$CSA_CHECK" == true ]]; then
    ${CC} --analyze -Xanalyzer -analyzer-output=text -Werror
        -I include -I libatomic_ops/src $CFLAGS_EXTRA
        *.c *.cc cord/*.c cord/tests/cordtest.c cord/tests/de.c extra/gc.c
        extra/msvc_dbg.c extra/pcr_interface.c extra/real_malloc.c
        tests/*.c tests/*.cc tools/*.c;
  fi
- if [[ "$TESTS_CUSTOM_RUN" == true ]]; then
    ASAN_OPTIONS="detect_leaks=1" UBSAN_OPTIONS="halt_on_error=1"
        make check-without-test-driver;
  fi

after_success:
- if [[ "$REPORT_COVERAGE" == true ]]; then
    lcov --capture --base-directory . --directory . --output-file coverage.info;
    lcov --remove coverage.info '/usr/*' 'cord/tests/*' 'libatomic_ops/*' 'tests/*' --output-file coverage.info;
    lcov --list coverage.info;
    coveralls-lcov --repo-token ${COVERALLS_TOKEN} coverage.info;
  fi

before_deploy:
- yes | gem update --system --force
- gem install bundler
- gem install uri
- gem install logger

deploy:
  provider: releases
  edge: true
  file: gc-*.tar.gz
  file_glob: true
  on:
    condition: $MAKEFILE_TARGETS = distcheck
    repo: ivmai/bdwgc
    tags: true
